@font-face {
  font-family: "Archivo Black";
  src:
    url("./fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("./fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}
.page {
  background-color: #1e1e1e;
  color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header__title {
  font-family: "Archivo Black";
  font-size: 72px;
}
.header__subtitle {
  font-family: OpenSans-Regular;
  font-size: 18px;
  opacity: 0.5;

  .header__paragraph {
    font-family: OpenSans-Regular;
    font-size: 18px;
  }
}
.header__container {
  width: 66%;
  max-width: 793px;
  padding-right: 20px;
}
.header__nav-links {
  list-style: none; /* Quita las viñetas */
  display: flex; /* Coloca los elementos horizontalmente */
  gap: 20px; /* Espacio entre los enlaces */
  margin: 0; /* Quita márgenes por defecto */
  padding: 0; /* Quita padding por defecto */
}
.header__nav-link {
  color: #ffffff;
  text-decoration: none; /* Opcional: quita el subrayado */
  position: relative; /* Necesario para el pseudo-elemento */
  transition: border-bottom 0.1s ease; /* Transición suave */
}
.nav-text:hover {
  border-bottom: 3px solid #dc143c;
  line-height: 1;
}
.nav-line::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Separación del texto */
  left: 0;
  width: 100%; /* Ancho completo del enlace */
  height: 4px; /* Grosor de la línea */
  background: linear-gradient(90deg, #8b00ff, #da70d6); /* Degradado púrpura */
  border-radius: 2px; /* Bordes redondeados opcionales */
}
.nav-line:hover::after {
  box-shadow: 0 0 0 4px #dc143c;
}
.header__picture {
  display: flex;
  justify-content: start;
  width: 387px;
  height: 500px;
}
.tools__icons {
  display: flex;
  justify-content: space-evenly; /* Distribuye con espacio entre ellos */
  align-items: center; /* Centra verticalmente */
  gap: 20px; /* Espacio fijo entre iconos (opcional) */
  flex-wrap: wrap; /* Permite que se ajusten en pantallas pequeñas */
}
.tools__title {
  font-family: "Archivo Black";
  font-size: 40px;
  padding-top: 40px;
}
.projects__title {
  font-family: "Archivo Black";
  font-size: 40px;
  padding-top: 40px;
}
.project__grid {
  display: flex;
  flex-direction: row;
}
.project__card {
  width: 590px;
  height: 330px;
}
